---
import Layout from '../layouts/Layout.astro';
import Section from "../components/Section.astro";
import Posts from "../components/reactive/Posts.svelte";
import Tags from "../components/reactive/Tags.svelte"
import CosmeticText from '../components/CosmeticText.astro';
import Image from 'astro/components/Image.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../data/site';
import { USER_PROFESSIONAL_DESCRIPTION } from "../data/user-professional";
import { USER_INTRODUCTION, USER_NAME } from '../data/user-personal';
import USER_PICTURE from "../../public/user-picture.jpeg";
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');

const heroTags: Set<string> = new Set(allPosts.flatMap(post => post.data.tags));

const cosmeticTexts: {[section: string]: string} = {
	header: "BACKSTAGE",
	hero: "CLICK ON A TAG",
	about: "ABOUT ME",
}
---

<Layout siteTitle={SITE_TITLE} siteDescription={SITE_DESCRIPTION} headerCosmeticText={cosmeticTexts.header}>
	<!-- HERO -->
	<Section class='relative flex min-h-72 pl-4 bg-radial-[at_50%_10%] from-accent/10 to-transparent'>		
		<div class="max-w-md m-auto text-center">		
			<span class="text-lg">{USER_PROFESSIONAL_DESCRIPTION}</span>
			<Tags client:load tags={heroTags} />
		</div>
		<CosmeticText text={cosmeticTexts.hero} vertical />
	</Section>

	<!-- POSTS -->
	<Section class=''>
		<Posts client:load allPosts={allPosts} />
	</Section>

	<!-- ABOUT -->
	<Section class="flex flex-row gap-8 max-w-2xl min-h-96 m-auto">
		<div class="group/image aspect-square w-48 h-48 my-auto rounded-interactive bg-accent">
			<img
			class="w-48 h-48 overflow-clip object-cover -rotate-z-12 scale-110 border-2d rounded-interactive border-accent group-hover/image:-rotate-z-0 group-hover/image:scale-[101%] group-hover/image:border-primary-border group-hover/image:border duration-200" 
			src={USER_PICTURE.src}
			alt={`${USER_NAME}'s profile picture.`}
			/>
		</div>

		<div class="text-pretty my-auto">
			<CosmeticText text={cosmeticTexts.about} />
			<p>{USER_INTRODUCTION}</p>
		</div>
	</Section>
</Layout>