---
import Section from "./Section.astro";
import Arrow from "../components/Arrow.astro";
import Menu from "../components/reactive/Menu.svelte";

import { userSocials, userEmail } from "../data/user-contact.json";
import { userName } from "../data/user-personal.json";
import CosmeticText from "./CosmeticText.astro";

interface Props {
  cosmeticText?: string;
}

const { cosmeticText = "" } = Astro.props;
---

<Section class="flex justify-between max-h-72 min-h-64">
  <div class="mt-auto">
    <CosmeticText text={cosmeticText} vertical />
  </div>

  <span class="mt-auto">
    <CosmeticText
      text={new Date()
        .toLocaleDateString("en-us", { year: "numeric", month: "short" })
        .toUpperCase()}
    />
  </span>
</Section>

<Section class="flex flex-row p-2">
  <a class="hover:brightness-125" href="/"
    ><h1 class="text-4xl sm:text-5xl">{userName}</h1></a
  >

  <Menu client:load />

  <!-- USER CONTACT -->
  <div class="hidden ml-auto gap-4 md:gap-0 md:flex md:flex-col">
    <a
      class="ml-auto duration-200 hover:brightness-125"
      href={`mailto:${userEmail}`}>{userEmail}<Arrow class="stroke-primary-foreground" rotate={-45} /></a
    >
    <div class="flex flex-row-reverse flex-wrap gap-4">
      {
        userSocials.map((social) => (
          <a class="duration-200 hover:brightness-125" href={social.link}>
            {social.title}<Arrow class="stroke-primary-foreground" rotate={-45} />
          </a>
        ))
      }
    </div>
  </div>
</Section>